
input[type=text], select, textarea
{
     width: 100%;
     padding: 12px;
     border: 1px solid #ccc;
     border-radius: 5px;
     box-sizing: border-box;
     margin-top: 6px;
     margin-bottom: 16px;
     resize: vertical;
}

input[type=submit]
{
     background-color: red;
     color: #fff;
     padding: 12px 20px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
}

input[type=submit]:hover
{
     background-color: navy;
}

.container
{
     width: 50%;
     border-radius: 10px;
     background-color: #f2f2f2;
     padding: 20px;
     margin-top: 7%;
     margin-left: 25%;
     background-image: url(/images/1.jpg);
     opacity:1;
}

body
{
     background-image: url(/images/dive.jpg);
}