@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body
{
  position: fixed;
}

header{
    z-index: 999;
    position: absolute;
    float:top;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
    background-color: transparent;
  }

  header .brand{
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }

  header .brand:hover
  {
    color: red;
    transform: scale(1.2);
    transition: 0.5s;
  }

  header .navigation .navigation-items a{
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:hover
{
  color: rgb(255, 0, 0);
  transform: scale(1.7);
}

header .navigation .navigation-items a:before{
    content: '';
    position: absolute;
    background: rgb(255, 255, 255);
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
  }

  header .navigation .navigation-items a:hover:before{
    width: 100%;
  }

  section{
    padding: 100px 200px;
  }

  .home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

.home:before{
  z-index: 777;
  content: '';
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  opacity: 0.7;
  
}

.home .content{
    z-index: 999;
    color: rgb(255, 255, 255);
    width: 70%;
    margin-top: 25px;
    display: none;
  }

  .home .content.active{
    display: block;
  }

  .home .content h1 span{
    font-size: 1.2em;
    font-weight: 600;
  }
  
.home .content p{
  margin-bottom: 65px;
}

.home .content a{
  background: rgb(255, 255, 255);
  padding: 15px 35px;
  color: #000000;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none; 
  border-radius: 5%;
}

.home .content a:hover
{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 0, 0);
  font-weight: 600;
  border: 3px solid rgb(255, 0, 0);
  transition: 0.1s;
}

.home .media-icons{
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
  }

  .home .media-icons a{
    color: rgb(255, 255, 255);
    font-size: 1.6em;
    transition: 0.3s ease;
  }

.home .media-icons a:not(:last-child){
  margin-bottom: 20px;
}

.home .media-icons a:hover{
  transform: scale(1.3);
  color: red;
}

.home video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(40%);
  }
      
#animate{
    position: relative;
    font-size: 2em;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 0.1vw rgb(71, 70, 70);    
}

#animate::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0vw rgb(0, 0, 0);
    border-right: 2px solid red;
    overflow: hidden;
    animation: animate 4s linear infinite;
}

@keyframes animate{
    0%,10%,100%
    {
        width: 0;
    }
    70%
    {
        width: 100%;
    }
}
